// $COLORS

$pink: #f2728e;
$ligth-blue: #aee4ff;
$yellow:  #ffe0b1;
$white: #fafbfd;
$black: #222222;
$black-ligth: #222222aa;
$grey: #faf8f1;
$grey-light: #faf8f1bb;
$grey-dark: #ece8e0;

// COLORES PRINCIPALES
$branding-color: $pink;





